
<div id="name" class="col-md-2 col-md-offset-5">
  <h1>Create a New User!</h1>
  <form id="form_id" action= "<%= users_url %>" method= "POST" class="navbar-form">
    <div id="test" class="form-group">

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label for="email">Email:</label>
      <input class="form-control" type="text" name="user[email]" id="email" value="<%= @user.email %>">
      <br>

      <label for="password">Password:</label>
      <input class="form-control" type="text" name="user[password]" id="password">
      <br>

      <input class="btn btn-primary btn-sm btn-block" type="submit" value="Create User">
    </div>
  </form>

</div>
